[package]
name = "cynic-introspection"
version = "0.1.0"
authors = ["Graeme Coupar <grambo@grambo.me.uk>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1"

[dependencies.cynic]
path = "../cynic"
version = "2.2.8"

[dev-dependencies]
assert_matches = "1.4"
insta = "1.4"
maplit = "1.0.2"
reqwest = "0.11"

[dev-dependencies.cynic]
path = "../cynic"
version = "2.2.8"
features = ["http-reqwest-blocking"]

[build-dependencies.cynic-codegen]
path = "../cynic-codegen"
version = "2.2.8"
