[package]
name = "cynic-codegen"
version = "0.14.0"
authors = ["Graeme Coupar <graeme@polyandglot.dev>"]
edition = "2018"
homepage = "https://cynic-rs.dev"
repository = "https://github.com/obmarg/cynic"
description = "Codegen for cynic - a GraphQL query builder & data mapper for Rust"
license = "MPL-2.0"
documentation = "https://docs.rs/cynic-codegen"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["rustfmt"]
rustfmt = []

[dependencies]
graphql-parser = "0.3.0"
proc-macro2 = "1.0"
syn = "1.0"
quote = "1.0"
Inflector = "0.11.4"
darling = "0.12"
lazy_static = "1.4.0"
strsim = "0.10.0"


[dev-dependencies]
assert_matches = "1.4.0"
insta = "1.4"
maplit = "1.0.2"
rstest = "0.6.3"
