[package]
name = "cynic-codegen"
version = "2.2.7"
authors = ["Graeme Coupar <graeme@polyandglot.dev>"]
edition = "2021"
homepage = "https://cynic-rs.dev"
repository = "https://github.com/obmarg/cynic"
description = "Codegen for cynic - a GraphQL query builder & data mapper for Rust"
license = "MPL-2.0"
documentation = "https://docs.rs/cynic-codegen"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["rustfmt"]
rustfmt = []

[dependencies]
counter = "0.5"
graphql-parser = "0.4.0"
proc-macro2 = "1.0"
syn = { version = "1.0", features = ["visit-mut"] }
quote = "1.0"
darling = "0.13"
strsim = "0.10.0"
once_cell = "1.9.0"

[dev-dependencies]
assert_matches = "1.4.0"
insta = "1.17"
maplit = "1.0.2"
rstest = "0.11.0"
