[package]
name = "cynic-querygen"
version = "0.6.0"
authors = ["Graeme Coupar <grambo@grambo.me.uk>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
graphql-parser = "0.3"
thiserror = "1.0.13"
Inflector = "0.11.4"

[dev-dependencies]
rstest = "0.6.3"
